.addressContainer {
  border: 1px solid grey;
  margin: 5px;
  width: 100%;
  padding: 10px;
}

.savedAddressHeader {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
}

.newAddressHeader {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
}
