html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.error {
  color: red;
  font-size: 12px;
}
.roboto-font {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.footer-list {
  padding-left: 0;
  text-transform: uppercase;
}

.footer-list li {
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside;
  text-align: left;
  margin: 0 !important;
  padding: 0;
  font-size: 18px;
}

.footer-heading {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .footer-list li {
    font-size: 11px;
  }
  .footer-heading {
    font-size: 14px;
  }
}
